<launch>
  <group ns="stereo_down">
     <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="true" output="screen">
        <param name="disparity_range" type="int" value="128"/>
     </node>
  </group>
  <node name="arm5e_service_server" pkg="arm5e_arm_services" type="arm5e_service_server" output="screen" respawn="false"/>
  <node name="arm5e_pc_grasp_planning_server" pkg="pcl_manipulation" type="arm5e_pc_grasp_planning_server" output="screen" respawn="false"/>
  
</launch>

